header {
    color: white;
}

body {
    background-image: url("../data/img/fondo-pacman.jpg");
}

img {
    height: 100px;
    width: 100px;
}

#centered {
    display: flex;
    justify-content: center;
    align-items: center;
}